/* Header */
.header {
    width: 100%;
    height: 100vh;
}

.header__container {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Header Content */
.header__content {
    height: 100%;
    padding-top: 75px;
    padding-right: 10px;
    padding-left: 185px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.header-content__logo {
    max-width: 110px;
    width: 100%;
    height: auto;
}

.header-content__title {
    position: relative;
    max-width: 240px;
    font-family: Montserrat-Black;
    font-size: 54px;
    line-height: 155px;
    color: #415167;
}

.header-content__title--span {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    display: block;
    padding: 16px;
    background-color: #c7a17a;
    color: #fff;
    z-index: 2;
}

/* Header Video */
.header-video {
    position: relative;
}

.header-video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
    background-color: #151d28;
}

.header-video__img {
    width: auto;
    height: 100%;
}

.header-video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 54px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 24px rgba(74, 74, 74, 0.5);
}

.header-video-button__arrow-play {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-46%, -50%) rotate(90deg);

    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 16px solid #c7a17a;
}

/* Header Nav */
.header__nav {
    flex: 1;
    padding-top: 90px;
    padding-left: 60px;
    background-color: #415167;
}

.header-nav__menu {
    margin-top: 120px;
}

.header-nav-menu__item {
    margin-bottom: 30px;
}

.header-nav-menu__item:last-child {
    margin-bottom: 0;
}

.header-nav-menu__item > a {
    font-family: Nunito-Light;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    color: #EDF0F5;
}

.header-nav-menu__item > a:hover {
    font-family: Nunito-Bold;
}

.header-nav-menu__item--active > a {
    font-family: Nunito-Bold;
}

/* Categories */
.categories {
    padding: 90px 0 130px;
}

.categories__col {
    text-align: center;
}

.categories__subtitle {
    margin-bottom: 8px;
    font-family: Nunito-Regular;
    font-size: 20px;
    line-height: 24px;
    color: #415167;
}

.categories__title {
    font-family: Montserrat-Black;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
}

.categories__row {
    padding-top: 90px;
}

.categories__item {
    text-align: center;
}

.categories-item__img {
    width: auto;
    height: 81px;
}

.categories-item__title {
    margin-top: 40px;
    font-family: Nunito-Bold;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
}

.categories-item__desc {
    margin-top: 12px;
    padding: 0 15px;
    font-family: Nunito-Light;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #151D28;
}













